#status
  %span.message
  objects:
  %span.objects

%canvas

#splash
  .box
    %h1 LAZEROIDS!!!
    %h2 massively multiplayer html5 asteroids
    %form
      %p
        - text = 'name your spaceship'
        %input{ type: 'text', name: 'name', value: text, placeholder: text, autofocus: 'autofocus' }
        %input{ type: 'submit', value: 'play' }

:coffeescript
  $ ->
    c: new Lz.Controller $('canvas').get(0)
    $('form').submit ->
      c.setupInput()
      c.setName $('input[name=name]', this).val()
      $('#splash').fadeOut()
      false
