!!! 5
%html
  %head
    %title LAZEROIDS!!
    %script{ src: 'http://code.jquery.com/jquery.js' }
    %script{ src: 'http://lazeroids.com.s3.amazonaws.com/socket.io.js' }
    %script{ src: '/application.js' }
  %body!= body