!!! 5
%html
  %head
    %title LAZEROIDS!!
    %script{ src: 'http://code.jquery.com/jquery.js' }
    %script{ src: '/public/javascripts/socket.io/socket.io.js' }
    :javascript
      io.setPath('/public/javascripts/socket.io/');
  %body!= body